body {
    background: #d1d1c9;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
    color: #000000;
    padding: 10px;
}
h1 {
    text-align: center;
}

h2{
    text-align: center;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: sticky;
}

li.navitem {
    float: right;
    font-size: 20px;
}

li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover {
    background-color: #555;
}


.articles section {
    display: flex;
    text-align: center;
    padding: 10px;
}


.articles table{
    text-align: center;
}

form{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

article{
    margin: 25px;
}

figure{
    float: left;
}

#text_list{
    display: flex;
}

#text_list p{
    width: 1000px;
}

#hobbies{
    margin-top: 100px;
}

#custom_list{
    
    width: 500px;
}
















